:root { /*For variables*/
  --menu-float: left;
  --menu-position: fixed;
  --content-float: right;
}
@media (max-width: 600px){ 
 :root{
   --menu-float: none;
   --menu-position: static;
   --content-float: none;
  }
}
body { /*Main content goes here*/
  background-color: orange;
  font-family: 'Open Sans', sans-serif;
}
header {
  /*background-color: #27587c;*/
  height: 10vw;
  display: flex; /*added to layout text*/
  justify-content: flex-end; /*text layout(bottom)*/
  flex-direction: column; 
}
hr { /*defines how line on page will appear*/
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}
h1 {
  font-size: 2em;
}
main {
  background-color: white;
  height: 80vw;
  display: grid; /*Adding grid to structure project blocks*/
  align-content: start;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr; /*grid layout using fr to easy size*/
  grid-template-rows: 1fr 1fr 1fr;
}
  .projectdesc{
    grid-column: 1/4; /*grid extends from first line to 4th across columns*/
    grid-row: 1/2;/*grid extends from first line to 2nd across rows*/
  }
  .project1{background:LightSkyBlue;}
  .project2{background:LightSalmon;}
  .project3{background:PaleTurquoise;}
  .project4{background:LightPink;}
  .project5{background:PaleGreen;}

  .projtile{
    display:flex; /*using flex to center text*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
footer {
  background-color: #27587c;
  height: 10vw;
}